@page "/attendance"
@attribute [Authorize(Roles = Roles.TeacherRole)]

@using Pusula.Student.Automation.Enums
@using Pusula.Student.Automation.Shared
@using Pusula.Student.Automation.Courses
@using Pusula.Student.Automation.Teachers
@using Pusula.Student.Automation.Students
@using Pusula.Student.Automation.Enrollments
@using Pusula.Student.Automation.Enrollments.AttendanceEntries
@using Pusula.Student.Automation.Courses.CourseSessionComponents
@using Volo.Abp.AspNetCore.Components.Messages
@using Volo.Abp.AspNetCore.Components.Web.Theming.Layout
@using Volo.Abp.Users

@inherits AutomationComponentBase

@inject ICourseAppService CourseAppService
@inject IEnrollmentAppService EnrollmentAppService
@inject ITeacherAppService TeacherAppService
@inject IUiMessageService UiMessageService
@inject ICurrentUser CurrentUser

<PageHeader Title="Attendance Entry" />

<Card>
    <CardBody>
        <Row>
            <Column ColumnSize="ColumnSize.Is6">
                <Field>
                    <FieldLabel>Course</FieldLabel>
                    <SfDropDownList TValue="Guid" 
                        TItem="CourseDto" 
                        Placeholder="Select a course"                      
                        DataSource="@TeacherCourses">
                        <DropDownListFieldSettings Value="Id" Text="CourseName"></DropDownListFieldSettings>
                        <DropDownListEvents TValue="Guid" TItem="CourseDto" ValueChange="OnCourseChanged"></DropDownListEvents>
                    </SfDropDownList>
                </Field>
            </Column>

            <Column ColumnSize="ColumnSize.Is6">
                <Field>
                    <FieldLabel>Student</FieldLabel>
                    <SfDropDownList TValue="Guid"
                                    TItem="StudentDto"
                                    Placeholder="Select a student"
                                    DataSource="@EnrolledStudents"
                                    Enabled="@(SelectedCourseIdValue != Guid.Empty)">
                        <DropDownListFieldSettings Value="Id"></DropDownListFieldSettings>
                        <DropDownListTemplates TItem="StudentDto">
                            <ItemTemplate>
                                <span class='name'>@((context as StudentDto).FirstName) @((context as StudentDto).LastName)</span>
                            </ItemTemplate>
                            <ValueTemplate>
                                <span class='name'>@((context as StudentDto).FirstName) @((context as StudentDto).LastName)</span>
                            </ValueTemplate>
                        </DropDownListTemplates>
                        <DropDownListEvents TValue="Guid" TItem="StudentDto" ValueChange="OnStudentChanged"></DropDownListEvents>
                    </SfDropDownList>
                </Field>
            </Column>
        </Row>

        @if (SelectedCourseIdValue != Guid.Empty && SelectedStudentIdValue != Guid.Empty)
        {
            <Divider />
            <Form id="AttendanceForm">
                <Row>
                    <Column ColumnSize="ColumnSize.Is4">
                        <Field>
                            <FieldLabel>Date</FieldLabel>
                            <DateEdit TValue="DateOnly" @bind-Date="Date" />
                        </Field>
                    </Column>

                    <Column ColumnSize="ColumnSize.Is4">
                        <Field>
                            <FieldLabel>Session</FieldLabel>     
                            <SfDropDownList TValue="Guid"
                                            TItem="CourseSessionDto"
                                            Placeholder="Select a course session"
                                            DataSource="@CourseSessions">
                                <DropDownListFieldSettings Value="Id"></DropDownListFieldSettings>
                                <DropDownListTemplates TItem="CourseSessionDto">
                                    <ItemTemplate>
                                        <span class='name'>@((context as CourseSessionDto).Day) @((context as CourseSessionDto).Time.Start) - @((context as CourseSessionDto).Time.End)</span>
                                    </ItemTemplate>
                                    <ValueTemplate>
                                        <span class='name'>@((context as CourseSessionDto).Day) @((context as CourseSessionDto).Time.Start) - @((context as CourseSessionDto).Time.End)</span>
                                    </ValueTemplate>
                                </DropDownListTemplates>
                                <DropDownListEvents TValue="Guid" TItem="CourseSessionDto" ValueChange="OnCourseSessionChanged"></DropDownListEvents>
                            </SfDropDownList>
                            
                        </Field>
                    </Column>

                    <Column ColumnSize="ColumnSize.Is4">
                        <Field>
                            <FieldLabel>Status</FieldLabel>
                            <SfDropDownList TValue="EnumAttendanceStatus" 
                                TItem="string" 
                                Placeholder="Attendance Status" 
                                DataSource="@EnumAttendanceStatusValues" 
                                @bind-Value="@SelectedEnumAttendanceStatus">
                            </SfDropDownList>
                        </Field>
                    </Column>
                </Row>

                <Row>
                    <Column>
                        <Field>
                            <FieldLabel>Absent Reason</FieldLabel>
                            <TextEdit Text="@AbsentReason" TextChanged="(v) => AbsentReason = v" Disabled="@(SelectedEnumAttendanceStatus == EnumAttendanceStatus.Present)" />
                        </Field>
                    </Column>
                </Row>

                <ModalFooter>
                    <SubmitButton Form="AttendanceForm"
                                  Clicked="SaveAttendanceAsync"
                                  Disabled="@(SelectedCourseSessionId == Guid.Empty)">
                        Save Attendance
                    </SubmitButton>
                </ModalFooter>
            </Form>
        }
    </CardBody>
</Card>