@page "/"
@inherits AutomationComponentBase

@if (CurrentUser.IsAuthenticated)
{
    <div class="row mb-3">
        <div class="col-12 d-flex">
            <div class="card h-100 w-100">
                <div class="card-header">
                    <div class="card-title text-body">@L["PersonalInformation"]</div>
                </div>
                <div class="card-body pt-0">
                    <div class="row">
                        <div class="col-md-6">
                            <table class="table table-sm mb-0">
                                <tbody>
                                    <tr>
                                        <td class="fw-semibold w-25">Name</td>
                                        <td>@(string.Join(" ", new[] { CurrentUser.Name, CurrentUser.SurName ?? CurrentUser.SurName }.Where(x => !string.IsNullOrWhiteSpace(x))))</td>
                                    </tr>
                                    <tr>
                                        <td class="fw-semibold">Username</td>
                                        <td>@CurrentUser.UserName</td>
                                    </tr>
                                    <tr>
                                        <td class="fw-semibold">Email</td>
                                        <td>@CurrentUser.Email</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <table class="table table-sm mb-0">
                                <tbody>
                                    <tr>
                                        <td class="fw-semibold w-25">Phone</td>
                                        <td>@CurrentUser.PhoneNumber</td>
                                    </tr>
                                    <tr>
                                        <td class="fw-semibold">Roles</td>
                                        <td>@(CurrentUser.Roles?.Any() == true ? string.Join(", ", CurrentUser.Roles) : "-")</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}