@page "/teacher-comment"
@attribute [Authorize(Roles = Roles.TeacherRole)]

@using Pusula.Student.Automation.Enums
@using Pusula.Student.Automation.Shared
@using Pusula.Student.Automation.Courses
@using Pusula.Student.Automation.Teachers
@using Pusula.Student.Automation.Students
@using Pusula.Student.Automation.Enrollments
@using Pusula.Student.Automation.Enrollments.TeacherComments
@using Volo.Abp.AspNetCore.Components.Messages
@using Volo.Abp.AspNetCore.Components.Web.Theming.Layout
@using Volo.Abp.Users

@inherits AutomationComponentBase

@inject ICourseAppService CourseAppService
@inject IEnrollmentAppService EnrollmentAppService
@inject ITeacherAppService TeacherAppService
@inject IUiMessageService UiMessageService
@inject ICurrentUser CurrentUser

<PageHeader Title="Teacher Comment" />

<Card>
    <CardBody>
        <Row>
            <Column ColumnSize="ColumnSize.Is6">
                <Field>
                    <FieldLabel>Course</FieldLabel>
                    <SfDropDownList TValue="Guid"
                                    TItem="CourseDto"
                                    Placeholder="Select a course"
                                    DataSource="@TeacherCourses">
                        <DropDownListFieldSettings Value="Id" Text="CourseName"></DropDownListFieldSettings>
                        <DropDownListEvents TValue="Guid" TItem="CourseDto" ValueChange="OnCourseChanged"></DropDownListEvents>
                    </SfDropDownList>
                </Field>
            </Column>

            <Column ColumnSize="ColumnSize.Is6">
                <Field>
                    <FieldLabel>Student</FieldLabel>
                    <SfDropDownList TValue="Guid"
                                    TItem="StudentDto"
                                    Placeholder="Select a student"
                                    DataSource="@EnrolledStudents"
                                    Enabled="@(SelectedCourseIdValue != Guid.Empty)">
                        <DropDownListFieldSettings Value="Id"></DropDownListFieldSettings>
                        <DropDownListTemplates TItem="StudentDto">
                            <ItemTemplate>
                                <span class='name'>@((context as StudentDto).FirstName) @((context as StudentDto).LastName)</span>
                            </ItemTemplate>
                            <ValueTemplate>
                                <span class='name'>@((context as StudentDto).FirstName) @((context as StudentDto).LastName)</span>
                            </ValueTemplate>
                        </DropDownListTemplates>
                        <DropDownListEvents TValue="Guid" TItem="StudentDto" ValueChange="OnStudentChanged"></DropDownListEvents>
                    </SfDropDownList>
                </Field>
            </Column>
        </Row>

        @if (SelectedCourseIdValue != Guid.Empty && SelectedStudentIdValue != Guid.Empty)
        {
            <Divider />

            <Row>
                <Column>
                    <Field>
                        <FieldLabel>New Comment</FieldLabel>
                        <MemoEdit @bind-Text="NewCommentText" Rows="4" />
                    </Field>
                </Column>
            </Row>

            <ModalFooter>
                <SubmitButton Clicked="SaveTeacherCommentAsync" Disabled="@string.IsNullOrWhiteSpace(NewCommentText)">
                    Add Comment
                </SubmitButton>
            </ModalFooter>

            <Divider />

            <h5>Existing Comments</h5>
            @if (Comments.Count == 0)
            {
                <p class="text-muted">No comments.</p>
            }
            else
            {
                <Table Responsive="true" Striped="true" Hoverable="true" FullWidth="true">
                    <Thead>
                        <Tr>
                            <Th>Comment</Th>
                            <Th style="width: 120px;"></Th>
                        </Tr>
                    </Thead>
                    <Tbody>
                        @foreach (var c in Comments)
                        {
                            <Tr>
                                <Td>@c.Comment</Td>
                                <Td class="text-end">
                                    <Button Size="Size.Small" Color="Color.Danger" Clicked="() => RemoveCommentAsync(c.Id)">Delete</Button>
                                </Td>
                            </Tr>
                        }
                    </Tbody>
                </Table>
            }
        }
    </CardBody>
</Card>